*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.ide/*
/app/schemas/com.example.kenv.trackme.data.local.AppDatabase/1.json
/.idea/gradle.xml
/app/schemas/com.example.kenv.trackme.data.local.AppDatabase/*
